.header{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(-225deg, #222224 0%, #17485b 50%, #0585b4 100%);
    position: relative;
    display: flex;
    justify-content: space-between;
}
.header-text{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    margin-left: 80px;
}
.course-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 70%;
    margin-right: 200px;
    margin-top: 80px;
}
.course{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.course img{
    width: 60px;
    height: 60px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row .course{
    width: 140px;
    height: 90px;
    border-radius: 6px;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    transition: .3s;
}
.row .course:hover{
    width: 150px;
    height: 100px;
    border-top: 5px solid blueviolet;
}
.header-text p, h1{
  color: white;
  padding-bottom: 20px;
}
.header-text a{
    padding: 10px 27px;
    background-color: greenyellow;
    color: white;
    text-decoration: none;
    width: 200px;
    text-align: center;
    border-radius: 6px;
}
.header-text h1{
    font-size: 3rem;
}
.header-text p{
    line-height: 1.5rem;
}

