.header{
    width: 100%;
    height: 500px;
    background-image: linear-gradient(-225deg, #222224 0%, #17485b 50%, #0585b4 100%);
    position: relative;
}
.header-text{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 150px;
    margin-left: 80px;
}
.course-button{
    width: 30%;
    height: 100%;
    background-color: red;
}
.header-text p, h1{
  color: white;
  padding-bottom: 20px;
}
.header-text h1{
    font-size: 3rem;
}
.header-text p{
    line-height: 1.5rem;
  }
