
*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}
body{
    background-color: gray;
}
.navbar{
background-color: #0098da;
position: fixed;
top: 0px;
width: 100%;
height: 50px;
transition: top 0.3s;
}
.sticky-nav{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: white;
    top: -100px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}
.hold-top{
    margin-left: 65px;
    width: 320px;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar .hold-top a{
    font-family: 'Lora', serif;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    line-height: 1.3px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.sticky-nav img{
    width: 180px;
    margin-left: 30px;
}
.navbar .hold-top a span{
    font-size: 1.3rem;
}
.sticky-menu{
    background-color: red;
}